body {
  background-color: #030141;
  font-family: "Manrope", sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.content{
  background-image: url(images/Background_desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100svh;
  width: 100%;
  @media screen and (max-width: 767px) {
    background-image: url(images/background_mobile.svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.title-pink {
  color: #FBCCE8;
  font-family: "Dela Gothic One", "Bakbak One", sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 77.8px;
  transform: rotate(-1.43deg);
  margin-left: 4rem;
  @media screen and (max-width: 1440px) {
    line-height: 50.8px;
    font-size: 35px;
    margin-left: 6rem;
  }
  @media screen and (max-width: 767px) {
    margin: 0;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
  }
  .first{
    width: max-content;
    padding-left: 2rem;
    padding-right: 12rem;
    @media screen and (max-width: 767px) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
  .second{
    width: max-content;
    padding-left: 6rem;
    padding-right: 8rem;
    @media screen and (max-width: 767px) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
  
}
.background-pink {
  clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);

  overflow: hidden;
  white-space: nowrap;
  background-color: #F205A3;
  margin-top: -2px;
  padding: 0 4rem;
  @media screen and (max-width: 767px) {
    clip-path: polygon(4% 0, 100% 0%, 96% 100%, 0% 100%);
  }
}

.second-title {
  color: #fff;
  position: relative;
  display: inline-block;
  font-family: Manrope;
  font-size: 27px;
  font-weight: 700;
  line-height: 42.44px;
  text-align: center;
  @media screen and (max-width: 1440px) {
    margin-top: 15%;
    font-size: 20px;
    line-height: 25.12px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 15%;
    font-size: 14px;
    line-height: 19.12px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #F205A3;
    transform: rotate(-2deg);
    transform-origin: bottom left;
  }
}

.button {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  color: #fff;
  font-size: 40px;
  padding: 1rem 3rem;
  font-weight: 700;
  background-color: #EC008C;
  border: none;
  animation: pulse 2s infinite;
  &:active{
    background-color: #b1026b;

  }
  @media screen and (max-width: 1440px) {
    font-size: 25px;
    padding: 0.5rem 1.5rem;
  }

  @media screen and (max-width: 767px) {
    font-size: 14px;
    padding: 0.5rem 1.5rem;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}
.wheel-container{
  position: relative;
  width: 100%;
  height: 100%;
  @media screen and (max-width: 767px) {
    height: auto;
  }

}
.woman{
  z-index: 2;
  position: absolute;
  bottom: 0;
  height: 30vw;
  left: -20%;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.wheel-background{
  top: calc(100% - 48vw);
  position: absolute;
  z-index: 1;
  left: 21%;
  width: 44vw;
  @media screen and (max-width: 767px) {
    position: static;
    width: 70%;
    
  }
}
.wheel{ 
  top: calc(100% - 45vw);
  z-index: 2;
  position: absolute;
  left: 27%;
  width: 38vw;
  animation-duration: 10s;
  animation-name: rotate;
  animation-play-state: paused;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  @media screen and (max-width: 767px) {
    left: auto;
    top: auto;
    width: 60%;
  }
}
.arrow{
  top: calc(100% - 46vw);
  left: 56.6%;
  z-index: 3;
  position: absolute;
  width: 5vw;
  @media screen and (max-width: 767px) {
    left: auto;
    top: 1rem;
    width: 6%;
  }
}
.roy-logo{
  top: calc(100% - 30vw);
  position: absolute;
  z-index: 3;
  left: 54%;
  width: 7vw;
  @media screen and (max-width: 767px) {
    left: auto;
    width: 9%;
    top: auto;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-3935deg);
  }
}

.mobile {
  display: none !important;

  @media screen and (max-width: 767px) {
    display: block !important;
  }
}

.desktop {
  display: block !important;

  @media screen and (max-width: 767px) {
    display: none !important;
  }
}