body {
  background-color: #030141;
  font-family: "Manrope", sans-serif;
  height: 100svh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.roy-container {
  background-color: #0F0D70;
  color: #fff;
  -webkit-clip-path: polygon(0 1%, 100% 0, 97% 100%, 1% 100%);
          clip-path: polygon(0 1%, 100% 0, 97% 100%, 1% 100%);
  height: 95svh;
}
@media screen and (max-width: 767px) {
  .roy-container {
    height: 90svh;
    padding-top: 5rem;
  }
}

.layer-1 {
  position: relative;
  z-index: 2;
  height: 100%;
}

.layer-2 {
  overflow: hidden;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100svh;
}

.title {
  position: relative;
  display: inline-block;
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 767px) {
  .title {
    margin-top: 15%;
    font-size: 14px;
    line-height: 19.12px;
  }
}
.title::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #F205A3;
  transform: rotate(-2deg);
  transform-origin: bottom left;
}

.title-pink {
  color: #FBCCE8;
  font-family: "Dela Gothic One", "Bakbak One", sans-serif;
  font-weight: 400;
  font-size: 60px;
  margin-left: -120px;
}
@media screen and (max-width: 1439px) {
  .title-pink {
    font-size: 40px;
    margin-top: 3rem;
    margin-left: -60px;
  }
}
@media screen and (max-width: 767px) {
  .title-pink {
    font-size: 20px;
    margin-top: 16px;
  }
}

.background-pink {
  -webkit-clip-path: polygon(4% 0, 100% 0%, 96% 100%, 0% 100%);
          clip-path: polygon(4% 0, 100% 0%, 96% 100%, 0% 100%);
  overflow: hidden;
  white-space: nowrap;
  background-color: #EC008C;
  margin-top: -2px;
  margin-left: -50px;
}
@media screen and (max-width: 1439px) {
  .background-pink {
    margin-left: -20px;
  }
}

.rotate {
  transform: rotate(2deg);
}

.rotate-2 {
  transform: rotate(-4.5deg);
}

.lion {
  z-index: 1;
  left: 0;
  animation: turn 4s infinite;
  height: 300px;
}
@media screen and (max-width: 1439px) {
  .lion {
    height: 108px;
  }
}

@keyframes turn {
  0% {
    rotate: 8deg;
  }
  50% {
    rotate: -20deg;
  }
  100% {
    rotate: 8deg;
  }
}
.button {
  position: relative;
  -webkit-clip-path: polygon(1px 28.86%, 98.14% 2px, 91.27% 79.71%, 10.6% 98%);
          clip-path: polygon(1px 28.86%, 98.14% 2px, 91.27% 79.71%, 10.6% 98%);
  color: #fff;
  font-size: 40px;
  padding: 1rem 3rem;
  font-weight: 700;
  background-color: #EC008C;
  border-radius: 0;
  animation: pulse 2s infinite;
}
.button:active {
  background-color: #b1026b;
}
@media screen and (max-width: 767px) {
  .button {
    font-size: 14px;
    padding: 0.5rem 1.5rem;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
.arrow-container {
  margin-top: auto;
  font-size: 14px;
  font-weight: 700;
  color: #FFAEDE;
  height: calc(53px + 3vw);
  width: 60%;
}
@media screen and (max-width: 767px) {
  .arrow-container {
    width: 100%;
  }
}

.arrow-one {
  background: #520979;
  -webkit-clip-path: polygon(0% 0%, 86.54% 0%, 100% 50%, 86.54% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 86.54% 0%, 100% 50%, 86.54% 100%, 0% 100%);
}

.arrow-two {
  -webkit-clip-path: polygon(83.65% 0%, 100% 50%, 83.65% 100%, 0% 100%, 15.38% 50%, 0% 0%);
          clip-path: polygon(83.65% 0%, 100% 50%, 83.65% 100%, 0% 100%, 15.38% 50%, 0% 0%);
  background: #520979;
}

.arrow-three {
  -webkit-clip-path: polygon(100% 0px, 100% 100%, 0% 100%, 14.42% 50%, 0% 0%);
          clip-path: polygon(100% 0px, 100% 100%, 0% 100%, 14.42% 50%, 0% 0%);
  background: #520979;
}

.book {
  z-index: 2;
  position: absolute;
  height: 80%;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 1439px) {
  .book {
    height: 45%;
    transform: rotate(13deg);
    margin-left: -1.5rem;
    bottom: -3%;
  }
}

.panda {
  position: absolute;
  width: 25%;
  left: 15%;
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .panda {
    display: none;
  }
}

.girl {
  z-index: 2;
  position: absolute;
  right: 0;
  height: 100%;
  bottom: -15%;
}
@media screen and (max-width: 1439px) {
  .girl {
    height: 75%;
    bottom: -35%;
  }
}

.zig {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .zig {
    width: 100%;
    top: -10%;
  }
}

.zag {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 767px) {
  .zag {
    width: 150%;
    bottom: 10%;
  }
}

.jamjar {
  position: absolute;
  bottom: 0;
  transform: rotate(-47deg);
}
@media screen and (max-width: 1439px) {
  .jamjar {
    left: -45px;
    z-index: 2;
    top: calc(-100px + 3vh);
    transform: rotate(124.6deg);
    width: 50%;
    max-width: 183px;
  }
}

.jelly {
  display: none;
}
@media screen and (max-width: 767px) {
  .jelly {
    position: absolute;
    display: block;
    z-index: 2;
    top: -1%;
    left: 35%;
  }
}

.zeus {
  position: absolute;
  z-index: 2;
  bottom: -35%;
  right: 5%;
}
@media screen and (max-width: 1439px) {
  .zeus {
    top: 0;
    width: 158px;
    transform: rotate(-23deg);
    right: -100px;
  }
}

.container {
  position: relative;
}

* {
  box-sizing: border-box;
}

@keyframes glow {
  0% {
    text-shadow: none;
    transform: scale(1);
  }
  5% {
    text-shadow: 0 0 0 #FF25AF, 0 0 20px #FF25AF, 0 0 30px #FF25AF;
    transform: scale(1.25);
  }
  60% {
    text-shadow: 0 0 0 #FF25AF, 0 0 20px #FF25AF, 0 0 30px #FF25AF;
    transform: scale(1.35);
  }
  100% {
    text-shadow: none;
    transform: scale(1);
  }
}
#join {
  animation: glow 10s infinite;
  animation-delay: 0s;
}

#deposit {
  animation: glow 10s infinite;
  animation-delay: 1s;
}

#enjoy {
  animation: glow 10s infinite;
  animation-delay: 2s;
}

.terms {
  color: #fff;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.005em;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .terms {
    font-size: 10px;
    line-height: 16px;
  }
}

.link {
  color: #fff;
}
.link:active {
  color: #b6b6b6;
}

.pink {
  color: #D1008C;
}

.mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile {
    display: block;
  }
}

.desktop {
  display: block;
}
@media screen and (max-width: 767px) {
  .desktop {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */