body {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #1B1A60;
}

.container-fluid {
  background-image: url(images/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100svh;
  padding: 0;
}
.container-2 {
  background-color: #1B1A60;
  color: #fff;
}

.rotate-180 {
  transform: rotateY(180deg);
}

.content {
  z-index: 3;
}

.title {
  background-color: #E61829;
  color: #FFFFFF;
  font-family: "Dela Gothic One", "Bakbak One", sans-serif;
  font-size: 58px;
  font-weight: 400;
  line-height: 84.12px;
  text-align: center;
  -webkit-clip-path: polygon(20% 0%, 100% 0, 92% 100%, 0 91%);
          clip-path: polygon(20% 0%, 100% 0, 92% 100%, 0 91%);
  width: -moz-max-content;
  width: max-content;
  margin-top: 4rem;
  margin-bottom: 3rem;
  padding: 0.5rem 5rem;
}
@media screen and (max-width: 1440px) {
  .title {
    line-height: 54.12px;
    margin-bottom: 0rem;
    font-size: 26px;
    margin-top: 1rem;
    padding: 0 3rem;
  }
}
@media screen and (max-width: 767px) {
  .title {
    padding: 0.5rem 2rem;
    line-height: 17.97px;
    font-size: 13px;
    margin-top: 16px;
  }
}

.title-pink {
  color: #FBCCE8;
  font-family: "Dela Gothic One", "Bakbak One", sans-serif;
  text-align: center;
}
.title-pink .first {
  font-size: 55px;
  font-weight: 400;
  line-height: 79.64px;
}
@media screen and (max-width: 1440px) {
  .title-pink .first {
    font-size: 32px;
    line-height: 52.78px;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .title-pink .first {
    font-size: 18px;
    line-height: 21.78px;
  }
}
.title-pink .second {
  font-size: 90px;
  font-weight: 400;
  line-height: 130.32px;
}
@media screen and (max-width: 1440px) {
  .title-pink .second {
    font-size: 40px;
    line-height: 52.78px;
  }
}
@media screen and (max-width: 767px) {
  .title-pink .second {
    font-size: 26.96px;
    line-height: 32.62px;
  }
}

.background-pink {
  -webkit-clip-path: polygon(4% 0, 100% 0%, 96% 100%, 0% 100%);
          clip-path: polygon(4% 0, 100% 0%, 96% 100%, 0% 100%);
  overflow: hidden;
  white-space: nowrap;
  background-color: #EC008C;
  margin-top: -2px;
  padding: 0 4rem;
}
@media screen and (max-width: 767px) {
  .background-pink {
    padding: 0 2rem;
  }
}

.rotate-2 {
  transform: rotate(-4.5deg);
}

.button {
  position: relative;
  -webkit-clip-path: polygon(1px 28.86%, 98.14% 2px, 91.27% 79.71%, 10.6% 98%);
          clip-path: polygon(1px 28.86%, 98.14% 2px, 91.27% 79.71%, 10.6% 98%);
  color: #fff;
  font-size: 40px;
  padding: 1rem 3rem;
  font-weight: 700;
  background-color: #EC008C;
  border: none;
  animation: pulse 2s infinite;
}
.button:active {
  background-color: #b1026b;
}
@media screen and (max-width: 1440px) {
  .button {
    font-size: 25px;
    padding: 0.5rem 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .button {
    font-size: 14px;
    padding: 0.5rem 1.5rem;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
.shadow-pulse {
  position: absolute;
  width: 340px;
  height: 100px;
  -webkit-clip-path: polygon(1px 28.86%, 98.14% 2px, 91.27% 79.71%, 10.6% 98%);
          clip-path: polygon(1px 28.86%, 98.14% 2px, 91.27% 79.71%, 10.6% 98%);
  background-color: #b1026b;
  margin-top: 14px;
  animation: shadow-pulse 2s infinite;
}
@media screen and (max-width: 1440px) {
  .shadow-pulse {
    width: 200px;
    height: 60px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .shadow-pulse {
    width: 129px;
    height: 40px;
    margin-top: 15px;
  }
}

@keyframes shadow-pulse {
  0% {
    scale: 1;
    opacity: 0;
  }
  50% {
    opacity: 0.9;
    transform: scale(1.45);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.terms {
  color: #FFE1FC;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.005em;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .terms {
    font-size: 10px;
    line-height: 16px;
  }
}

.link {
  color: #FFE1FC;
}
.link:active {
  color: #b6b6b6;
}

.pink {
  color: #F34EBC;
}

.bonus-conditions {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
  line-height: 35.18px;
  text-align: left;
  color: #BCBBFF;
}
@media screen and (max-width: 767px) {
  .bonus-conditions {
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 20.52px;
    text-align: left;
  }
}

.phoenix {
  z-index: 2;
  position: absolute;
  bottom: 130px;
  left: 0;
  max-height: 80%;
}
@media screen and (max-width: 1440px) {
  .phoenix {
    height: 70%;
    bottom: calc(36% - 10vw);
    max-height: 80%;
  }
}
@media screen and (max-width: 767px) {
  .phoenix {
    height: 30%;
    bottom: calc(45% - 10vw);
  }
}

.lion {
  z-index: 0;
  position: absolute;
  right: 0;
  height: 645px;
  bottom: 8vw;
}
@media screen and (max-width: 1440px) {
  .lion {
    height: 489px;
  }
}
@media screen and (max-width: 767px) {
  .lion {
    height: 284px;
  }
}

.vectors {
  height: 284px;
}

.blue-vector {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.pink-vector {
  -webkit-clip-path: polygon(0 78.33%, 100% 0px, 100% 100%, 0% 100%);
          clip-path: polygon(0 78.33%, 100% 0px, 100% 100%, 0% 100%);
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #1B1A60;
}

.pink-vector-2 {
  width: 100%;
  left: 0;
}/*# sourceMappingURL=style.css.map */